body{
    font-family: 'Rajdhani', sans-serif;
    color: #575757;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
    text-align: center;
    background-color: #fff;
    font-display: swap;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
    font-family: 'Major Mono Display', monospace;
}

h2{
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: 400;
    font-family: 'Major Mono Display', monospace;
}

h3{
    font-family: 'Major Mono Display', monospace;
}

p{
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.3em;
    margin-bottom: 16px; /*para espacio entre parrafos*/
}

.container{
    padding: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.hidden{
    overflow: hidden;
}

.container img{
    width: 100%; 
}

ul{
    list-style: none;
    padding: 0;
}

/*
.centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #575757;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: #575757;

}
*/


/* Header */
  
  header{
    max-width: 100%;
    height:800px;
    background: url(../img/fondo.jpg) no-repeat center bottom;
    background-size: cover;
}
  
nav{
    width: 100%;
    position: fixed;
    z-index: 9;
}
  
.nav1{
    background: transparent;
    height: 60px;
    color:#fff;
}

.nav1 a i{
    color:#fff;
}

.nav2{
    background: #ffffff;
    color:#FF9933;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
  
.nav2 a i{
    color:#FF9933;
}
.contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height:inherit;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}
  
.enlaces{
    position: fixed;
    z-index: 1;
    background: #ff9933;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
    box-shadow: 0 0 16px #02020299;
}

.openmenu::before{
    content: '';
    display: block;
    pointer-events: none;
    background-color: #00000042;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

.enlaces a{
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;    
    color:white;
}

.enlaces a:hover{
    background: white;
    color:#575757;
}

nav .enlaces a{
    padding: 5px 0;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}
  
nav .enlaces a:hover{
    transition: 0.6s;
    text-align: center;
}

nav .enlaces .logo-aside img {
    width: 120px;
    margin-top: 40px;
}
  
.logo, .logo img{ height:35px;}
  
.icono{
    font-size: 24px;
    padding: 23.5px 20px;
    cursor: pointer;
}
  
.textos{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    overflow: hidden;
    text-align: center;
    padding-top: 200px;
}
  
.textos>h1{
    font-size:70px;
    font-weight: normal;
}
  
.textos>h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px; 
    font-weight: 300;
}


/* Sección cards */
.container-bloque-cards{
    color: #FF9933;
    justify-content: center;
}

.container-col-cards{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-col-cards a{
    text-decoration: none;
    color: #575757;
}

.container-cards{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease;
}

.cards{
    width: 100%; 
    height: 100%;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-cards .cards img{
    max-height: 150px;
    min-width: 120px;
}

.cards:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    box-shadow: 2px 2px 10px #999;
}


/* Sección desarrollo web */
.container-web{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-web > div{
    display: flex;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.container-web .texto-web{
    display: block;
    align-items: center;
    max-width: 500px;
    justify-content: space-around;
}

.container-web > div > img{
    max-width: 400px;
    max-height: 400px;
    min-width: 120px;
}


/* Sección desarrollo de paginas web */
.container-celeste{
    background: #EFF7FF;
    padding: 40px;
}

.container-seccion-celeste{
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.line-naranja{
    background: #FF9933;
    width: 5px;
    margin-top: 80px;
}

.col-celeste{
    max-width: 450px;
    height: auto;
    align-items: center;
    padding: 30px;
    margin: auto;
}

.col-celeste h3{
    color: #FF9933;
}


/* Sección desarrollo de aplicaciones moviles */
.container-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-app > div{
    display: flex;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.container-app .texto-app{
    display: block;
    align-items: center;
    max-width: 500px;
    justify-content: space-around;
}

.container-app > div > img{
    max-width: 400px;
    max-height: 400px;
    min-width: 120px;
}


/* Sección de ventas y soporte */
.container-naranja{
    color: white;
    justify-content: center;
    justify-content: space-between;
    background: #FF9933;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 5%;
    padding-right: 5%;
}

.container-mas{
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575757;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.container-mas > div{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.container-mas .texto-mas{
    display: block;
    align-items: center;
    max-width: 500px;
    justify-content: space-around;
}

.container-mas > div > img{
    max-width: 300px;
    max-height: 300px;
    min-width: 120px;
}


/* Sección nuestros clientes texto */
.container-client{
    max-width: 1000px;
    margin: auto;
}

.container-client h2{
    color: #FF9933;
}


/* Sección nuestros clientes logo */
.container-client-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-client-logo > div{
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.container-client-logo > div > img{
    max-width: 120px;
    max-height: 140px;
    min-width: 120px;
    filter: grayscale(1);
}



/* Sección nosotros */
.container-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-nosotros > div{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.container-nosotros .texto-nosotros{
    color: #FF9933;
    display: block;
    align-items: center;
    max-width: 500px;
    padding: 30px;
}

.container-nosotros .texto-nosotros p{
    color: #575757;
}

.container-nosotros > div > img{
    max-width: 400px;
    max-height: 400px;
    min-width: 120px;
}


/* Sección filosofia */

.container-filosofia{
    font-weight: bold;
    color: white;
    padding: 50px;
    justify-content: center;
    background: #FF9933;
}

.container-filosofia .container-filosofia-texto{
    max-width: 1000px;
    margin: auto;
}

.container-filosofia p{
    font-size: 30px;
}

/* Sección mision */
.container-mision{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-mision > div{
    box-sizing: border-box;
}

.container-mision .texto-mision{
    color: #FF9933;
    display: block;
    align-items: center;
    max-width: 500px;
    padding: 30px;
}

.container-mision .texto-mision p{
    color: #575757;
}

.container-mision > div > img{
    max-width: 400px;
    max-height: 400px;
    min-width: 120px;
}


/* seccion del formulario */
.formulario{
    padding: 50px;
}
.container-form{
    padding: 50px;
    margin: auto;
    max-width: 1000px;
    border-radius: 32px;
    background: #EFF7FF;
    margin-top: 50px;
}

.contactForm .form-control {
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    background-color: transparent;
    padding: 0; 
    border: none;
    padding-top: 50px;
    width: 80%;
    border-bottom: 1px solid #575757;
    outline: none;
}

.contactForm .textarea {
    height: 200px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    padding: 0; 
    border: none;
    padding-top: 50px;
    width: 80%;
    border-bottom: 1px solid #575757;
    margin-bottom: 30px;
    outline: none;
}

.boton{
    padding-bottom: 30px;
}

.boton input{
    background: #FF9933;
    color:white;
    font-size: 25px;
    padding:15px;
    padding-left: 30px;
    padding-right: 30px;
    border:none;
    border-radius: 10px;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

.textarea{
    background-color: transparent;
}


/* footer principal */
.footer-blanco {
    padding: 20px;
    background-color: #FF9933;
    background-position: left top;
    background-image: url(../img/footer-blanco.png);
    background-size: cover;
}

.container-footer-blanco{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-footer-blanco dl dd a{
    text-decoration: none;
    color: #575757;
}

/* footer secundario */
.footer {
    color: #fff;
    padding: 20px;
    background-position: left top;
    background-image: url(../img/footer-naranja.svg);
    background-size: cover;
}

.container-footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc-footer{
    display: block;
    min-width: 300px;
    max-width: 300px;
    text-align: left;
    font-size: 16px;
    align-self: flex-end;
}

.container-footer dl dd a{
    text-decoration: none;
    color: #fff;
}

dl{
    list-style: none;
    padding: 0;
}

dd{
    margin-inline-start: 15px;
}



@media screen and (max-width: 768px){
    .line-naranja{
        visibility: hidden;
        margin: 0;
    }

    .container-seccion-celeste{
        display: block;
    }

    header{
        height:650px;
        background-position: left bottom;
    }

    .textos{
        padding-top: 150px;
    }

    .textos>h1{
        font-size:40px;
    }
      
    .textos>h2{
        font-size: 20px; 
    }
}